/* Set the primary color of the MDL components */
.mdl-button--raised, .mdl-button--fab, .mdl-switch__thumb {
  background-color: #2196F3;
}

/* Set the accent color of the MDL components */
.mdl-button--raised.mdl-button--colored, .mdl-button--fab.mdl-button--colored, .mdl-switch__thumb--is-checked {
  background-color: #FFC107;
}

/* Set the font of the MDL components */
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
